$desktop-xl = 1500px
$desktop = 1400px
$laptop = 1200px
$laptop-s = 1024px
$tablet = 768px
$mobile-xl = 580px
$mobile = 480px
$mobile-s = 350px

media-desktop-xl()
  @media(max-width: $desktop-xl)
    {block}

media-desktop()
  @media(max-width: $desktop)
    {block}

media-laptop()
  @media(max-width: $laptop)
    {block}

media-laptop-s()
  @media(max-width: $laptop-s)
    {block}

media-tablet()
  @media(max-width: $tablet)
    {block}

media-mobile-xl()
  @media(max-width: $mobile-xl)
    {block}

media-mobile()
  @media(max-width: $mobile)
    {block}

media-mobile-s()
  @media(max-width: $mobile-s)
    {block}
